body {
            font-family: "Montserrat", Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-top: 20px;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background: #fff;
        }

        .banner {
            text-align: center;
        }

        .banner img {
            max-width: 100%;
        }

        .text {
            padding: 5px 30px 0;
            text-align: justify;
            font-size: 17px;
        }

        .oferta {
            display: flex;
        }

        .oferta h2 {
            color: #FF6600;
            margin: 35px 25px 35px 10px;
            text-align: right;
        }

        .oferta h1 {
            color: black;
            font-size: 50px;
            margin-right: 35px; 
        }

        .oferta div {
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .h2 {
            width: 45%;
            padding: 10px;
            border-radius: 5px;
            text-align: left;
        }

        .caixa img {
            max-width: 30%;
            padding: 3px 8px 20px 8px;
            text-align: center;
        }

        .mini {
            font-size: 10px;
            text-align: right;
            margin: 0 30px;
        }

        .cta {
            text-align: center;
            margin: 30px 0 10px;
        }

        .cta a {
            background: #FF6600;
            color: white;
            padding: 10px 45px;
            text-decoration: none;
            font-size: 20px;
        }

        .cta img {
            width: 287px;
            display: block;
            margin: 9px 157px 15px;
            text-align: center;
        }

        .footer {
            background-color: #fb5000;
            color: #fff;
            padding: 20px 0;
        }
        
        .footer-container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        
        .footer-logo img {
            height: 30px;
        }
        
        .footer-social {
            display: flex;
            gap: 15px;
            margin: 5px 20px ;
        }
        
        .footer-social a img {
            height: 30px;
        }
        
        .info {
            margin: 20px;
            text-align: center;
            font-size: 12px;
        }